<!-- views/anakDetails.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Anak Details</title>
</head>
<body>
    <h1>Details</h1>
    <p><strong>Name:</strong> {{anak.nama}}</p>
    <p><strong>Nisn:</strong> {{anak.nisn}}</p>
    <p><strong>Birth Date:</strong> {{anak.tanggal_lahir}}</p>
    <p><strong>Entry Year:</strong> {{anak.tahun_masuk}}</p>
    <p><strong>Jenis Kelamin:</strong> {{anak.jenis_kelamin}}</p>

    <h2>Rapot Data</h2>
    <ul>
        {{#each rapotList}}
        <li>
            <p><strong>Tanggal Tindakan:</strong> {{tanggal_tindakan}}</p>
            <p><strong>Nama Kegiatan:</strong> {{nama_kegiatan}}</p>
            <p><strong>Kode Obat:</strong> {{kode_obat}}</p>
            <p><strong>Reaksi 24 Jam:</strong> {{reaksi_24_jam}}</p>
            <p><strong>Reaksi 72 Jam:</strong> {{reaksi_72_jam}}</p>
            <p><strong>Reaksi 1 Minggu:</strong> {{reaksi_1_minggu}}</p>
            <p><strong>Efek Samping:</strong> {{efek_samping}}</p>
        </li>
        {{/each}}
    </ul>
</body>
</html>
